body {
    font-family: 'Roboto', sans-serif;
}
input{
    border: 0px;
}

.changenav-bg {
    background-image: url(images/header_bg.png);
    height: 124px;

}

.container-image {
    background-image: url(images/body_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.containerimage-small {
    background-image: url(images/body_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* navbar  */

.big-logo {
    width: 80px;
    height: 80px;
}

.right-bg {
    background-image: url(images/container_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* middle container */
.book-background-margin{
    margin-top: 62px;
}
.logo-top-padding{
    width: 50px;
}
.input-area {
    width: 100%;
    height: 46px
}

.download-guide {
    width: 100%;
    height: 113px
}

.download-guide img {
    position: relative;
    bottom: 26px;
}

.green-bg {
    background-color: #5fa22e;
}
.adjustform-bg{
    clear: both; 
    padding-bottom: 171px;
}

/* About cards*/
#icon_position {
    margin: 0 auto;
    display: inline-block
}

.about-height {
    height: 80px;
}

.set-position {
    max-width: 400px;
    margin: 0 auto;
}

.make-relative {
    position: relative;
}

.make-absolute {
    position: absolute;
    bottom: 0px;
}



/* Client say */
.textbg-green {
    color: #5fa22e;

}

.some-height {
    height: 206px;
}

.client-height {
    height: 538px;

}

.title-height {
    height: 108px;
}

.paragraph-height {
    height: 210px;
    overflow: hidden;
    text-overflow: hidden;
}

/* icons and download */
.download-bg {
    background-image: url(images/container_bg_alt.png);
    height: 233px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 34px;

}

.alignbg-text {
   
    padding-top: 120px;

}

.fix-icons div img {
    width: 100%;
}
.guide-logo-height{
    height: 75px;
}

/* Footer */
.changefooter-bg {
    background-image: url(images/footer.png);
    background-size: contain;

}

/* media query */

@media only screen and (max-width: 576px) {
    .hidden-container {
        display: block;
    }

    .hide-title {
        display: none;
    }

    .small-title {
        font-size: 20px;
        margin-left: -13px;
    }

    .adjustfont-h4 {
        font-size: 26px;
    }

    .container-image {
        background-image: none;
    }


    .small-icon {
        width: 55px;
        height: 55px;
    }
    #increase_font{
        font-size: 45px;
    }
    .heightonly-small{
        height: 650px;
    }
    .guide-cover{
        background-size: cover;
        height: 272px;
    }
    
}



@media only screen and (min-width: 576px) {
    .hidden-container {
        display: none;
    }

    .hide-title {
        display: contents;
    }
    .containerimage-small {
        background-image: none;
    }
    #increase_font{
        font-size: 60px;
    }
    .padding-ptag{
        padding-left: 99px;
    }
    .adjustform-float{
        float: right; 
    }

}

