body {
    font-family: 'Roboto', sans-serif;
}

.changenav-bg {
    /* background-color:saddlebrown !important; */
    background-image: url(images/header_bg.png);
    /* height: 100% !important; */
    height: 124px;

}

.container-image {
    background-image: url(images/body_bg.jpg);
    height: 870px;

}

/* navbar  */
/* a{
    text-decoration: none;
} */
#big_logo {
    width: 80px;
    height: 80px;
}

#right_bg {
    background-image: url(images/container_bg.png);
    height: 891px;
    width: 468px;
}

/* middle container */
.input-area {
    width: 330px;
    height: 46px
}

.download-guide {
    width: 330px;
    height: 113px
}

.download-guide img {
    position: relative;
    bottom: 26px;
}

.green-bg {
    background-color: #5fa22e;
}

/* About cards*/
#icon_position {
    padding-left: 120px;
}

/* Client say */
.textbg-green {
    color: #5fa22e;

}
.some-height{
    height: 522px;
}

/* icons and download */
.download-bg{
    background-image: url(images/container_bg_alt.png);
    height: 233px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 34px;
    position: relative;
    left: 30px;
}
/* Footer */
.changefooter-bg{
    /* background-color:saddlebrown !important; */
    background-image: url(images/footer.png);
    /* height: 100% !important; */
    height: 107px;
}

/* media query */

@media only screen and (max-width: 576px) {
    .hidden-container {
      display: block;
    }
  }
  @media only screen and (min-width: 576px) {
    .hidden-container {
      display: none;
    }
  }